POSTGRES_DB=name_db
POSTGRES_USER=username
POSTGRES_PASSWORD=replace_with_random_hex (bash: openssl rand -hex 24)
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=disable